* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "italic";
  text-align: center;
  margin-top: 80px;
}
p {
  color: white;
  font-family: "italic";
  text-align: center;
  margin-top: 30px;
}

h2 {
  color: white;
  font-family: "italic";
  text-align: center;
  margin-top: 30px;
}

ol {
  color: white;
  font-family: "italic";
  text-align: center;
  margin-top: 30px;
}

li {
  color: white;
  font-family: "italic";
  text-align: center;
  margin-top: 20px;
}

button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "italic";
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}
